body {
    margin: 0;
    padding: 0;
    background: #f3f2f2 url('./bg_tile.jpg');

}



p, dd {
  font-family:"PT Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6, .nav, .footer {
  font-family:"PT Sans", Tahoma, sans-serif;
}

.footer {
  font-size:12px;
  text-align:center;
}

pre {
    font-family:courier;
  }


.logo {
  font-family:courier;
  float:left;
  margin:0;
  display:inline;
  color:#fff;
  font-weight:normal;
  margin: 0 10px;
  padding: 8px 0;
}
.logo a {
  text-decoration:none;
  color:#fff;
}
.logo a:hover {
  color:#f29c80;
}

/* nav  */

.nav {
  margin:auto;
  width:90%;
  background-color:#e63a00;

  overflow:hidden;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;

}

.nav ul {
  font-size:.8em;
  list-style:none;
  padding:0;
  margin:0;
  float:right;
}

.nav li {
  margin: 0;
  float:left;
}



.nav li a {
  float:left;
  text-align:center;
  display:block;
  width:9em;
  padding:20px 0;
  text-decoration:none;
  color:#fff;
}

.nav li a:hover {
  background-color:#cf3500;
}

/* front page middle content */

.billbox {
  margin:auto;
  width:90%;
  overflow:hidden;
  clear:both;
  padding:30px 0 0 0;
}

.billhead {
  font-size:3em;
  color:#828282;
  font-weight:bold;
  padding-left:30px;
  float:left;
}

.billhead pre {
  margin:auto .3em;
}


.billtext {
  overflow:hidden;
  padding:  20px 30px 0 30px;
}

.billtext h1 {
  font-size:1.7em;
  margin:0;
}


.content {
  margin:15px auto;
  width:90%;
  overflow:hidden;
  clear:both;
}

.feature-bullets {
  float:left;
  display:block;
  clear:both;
  width:65%;
 padding:10px;
  overflow:hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fbfbfb url('./bg_tile_white.jpg');
}

.feature-install, .feature-testimonials {
  background: #fbfbfb url('./bg_tile_white.jpg');
  -moz-border-radius:10px;
  -webkit-border-radius: 10px;
  border-radius:10px;
  float:right;
  width:30%;
  padding:10px;
  margin-bottom:10px;
}


.footer {
  overflow:hidden;
  margin:10px auto 30px auto;
  width:90%;
}














