<div class="toolbar">
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./installation.php">Installation</a></li>
        <li><a href="./features.php">Features</a></li>
        <li><a href="./documentation.php">Documentation</a></li>
        <li><a href="./community.php">Community</a></li>
    </ul>
</div>
